<%- include('../layouts/header')%> <%- include('../partials/user-header')%>
<section>
  <h1
    class="text-center"
    style="text-shadow: 2px 2px 5px rgb(101, 226, 101); color: rgb(225, 65, 65)"
  >
    SHOP
  </h1>
  <button
    class="btn btn-outline-primary"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#staticBackdrop"
    aria-controls="staticBackdrop"
  >
    <i class="fa-solid fa-sliders "></i>
    FILTERS
  </button>
  <div class="offcanvas offcanvas-start" style="width: 300px;" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title tickerTimes" id="staticBackdropLabel">FILTERS</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body tickerTimes p-0">
        <div class="container-fluid">
            <!-- <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item category-item">
                            Category
                            <ul class="list-group subcategory-list">
                                <% categories.forEach(function(category) { %>
                                <li class="list-group-item">
                                    <a class="text-decoration-none text-dark" href="/category/<%= category._id %>"><%= category.Name %></a>
                                </li>
                                <% }) %>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item brand-item">
                            Brand
                            <ul class="list-group subbrand-list">
                                <% brands.forEach(function(brand) { %>
                                <li class="list-group-item">
                                    <a class="text-decoration-none text-dark" href="/brand/<%= brand._id %>"><%= brand.Name %></a>
                                </li>
                                <% }) %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="checkbox-container">
              <h3>Category</h3>
              <% categories.forEach(function(category) { %>
              <div class="checkbox-group mt-2">
                <label><input type="checkbox" name="category" value="<%= category._id %>"> <%= category.Name %></label>
                <!-- Add more categories as needed -->
              </div>
              <% }) %>
            </div>
            
            <div class="checkbox-container mt-3">
              <h3>Brands</h3>
              <% brands.forEach(function(brand) { %>
              <div class="checkbox-group mt-2">
                <label><input type="checkbox" name="brand" value="<%= brand._id %>"> <%= brand.Name %></label>
              </div>
              <% }) %>
            </div>
            
            <div class="mt-3">
              <h3>Price Range</h3>
              <div class="radio-group">
                <label><input type="radio" name="price" value="0-1000"> $0 - $1000</label><br>
                <label><input type="radio" name="price" value="1001-5000"> $1001 - $5000</label><br>
                <label><input type="radio" name="price" value="5001-10000"> $5001 - $10000</label><br>
                <label><input type="radio" name="price" value="10001-and-above"> $10001 and above</label>
            </div>
            </div>
        </div>
        <button onclick="applyFilters(); $('#staticBackdrop').offcanvas('hide');" class="btn btn-primary">Apply Filters</button>
      </div>
</div>

</section>
<section>
  <div class="container">
    <div class="row  shopProducts" id="productsContainer" >
      <% products.forEach(function(product) { %>
      <div class="col-md-6 col-lg-3 col-sm-6 mb-4 equal-width">
        <div class="card tickerTimes">
          <img
            src="/uploads/<%= product.images[0] %>"
            class="card-img-top"
            style="height: 40vh"
            alt=""
          />
          <div
            class="card-body d-flex flex-column justify-content-between"
            style="height: 30vh"
          >
            <h6 class="card-title text-center product-name"><%= product.ProductName %></h6>
            <div class="d-flex flex-column justify-content-center">
              <% if (product.AvailableQuantity === 0) { %>
              <div style="background-color: red">
                <p class="card-text text-center text-light">Out of Stock</p>
              </div>
              <% } else { %>
              <p class="card-text text-center">Price ₹<%= product.Price %></p>
              <a
                href="/product/<%= product._id %>"
                class="btn btn-primary text-center"
                >View Details</a
              >
              <%}%>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <% if (products.length > 0) { %>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <p>
        Showing <%= (currentPage - 1) * perPage + 1 %>- <% if(currentPage ===
        totalPages){%> <%=totalCount%> <%}else{%> <%= currentPage * perPage %>
        <%}%> results from <%= totalCount %>
      </p>
      <ul class="pagination">
        <%if(currentPage === 1){%> <%}else{%>
        <li
          class="page-item <%= currentPage === currentPage ? 'active' : '' %>"
        >
          <a class="page-link" href="?page=<%=currentPage-1%>"> prev </a>
        </li>
        <%}%>
        <li class="page-item <%= currentPage === currentPage ? '' : '' %>">
          <a class="page-link" href="?page=<%=currentPage%>"
            ><%= currentPage %></a
          >
        </li>
        <li
          class="page-item <%= currentPage === currentPage ? 'active' : '' %>"
        >
          <a class="page-link" href="?page=<%=currentPage+1%>"> next</a>
        </li>
      </ul>
    </div>
    <% } else { %>
    <p>No results found.</p>
    <% } %>
  </div>
</section>

<style>
  .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sidebar {
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
  }

  .list-group-item:hover {
    background-color: #e9ecef;
  }

  .subcategory-list,
  .subbrand-list {
    display: none;
  }
</style>
<script>

function getStoredFilters() {
    const storedCategories = localStorage.getItem("selectedCategories");
    const storedBrands = localStorage.getItem("selectedBrands");
    const storedPrice = localStorage.getItem("selectedPrice");

    return {
      selectedCategories: storedCategories ? storedCategories.split(",") : [],
      selectedBrands: storedBrands ? storedBrands.split(",") : [],
      selectedPrice: storedPrice || null,
    };
  }

  function applyFilters() {
        
        const selectedCategories = getCheckedValues ("category");

        const selectedBrands = getCheckedValues ("brand");

        const selectedPrices = getSelectedValues("price");

        localStorage.setItem("selectedCategories", selectedCategories.join(","));
        localStorage.setItem("selectedBrands", selectedBrands.join(","));
        localStorage.setItem("selectedPrice", selectedPrices || "");


        const filtersURL = `/shop?categories=${selectedCategories.join(",")}&brands=${selectedBrands.join(",")}&prices=${selectedPrices}`;

        $.ajax({
          url: filtersURL,
          type: "GET",
          success: (response)=>{
            const productsContainer = $("#productsContainer");

            // Clear previous products
            productsContainer.empty();

            // Append new products
            response.products.forEach ((product) => {
                const productCard = `
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-4 equal-width">
                        <div class="card tickerTimes">
                            <img src="/uploads/${product.images[0]}" class="card-img-top" style="height: 40vh" alt="" />
                            <div class="card-body d-flex flex-column justify-content-between" style="height: 30vh">
                                <h6 class="card-title text-center product-name">${product.ProductName}</h6>
                                <div class="d-flex flex-column justify-content-center">
                                    ${product.AvailableQuantity === 0 ? 
                                        `<div style="background-color: red">
                                            <p class="card-text text-center text-light">Out of Stock</p>
                                        </div>` : 
                                        `<p class="card-text text-center">Price ₹${product.Price}</p>
                                        <a href="/product/${product._id}" class="btn btn-primary text-center">View Details</a>`}
                                </div>
                            </div>
                        </div>
                    </div>
                `;

                // Append the product card to the container
                productsContainer.append(productCard);
            });
          }
        })
        console.log(filtersURL);
    }

    function setCheckedValues() {
    const storedFilters = getStoredFilters();

    storedFilters.selectedCategories.forEach((category) => {
      $(`input[name="category"][value="${category}"]`).prop("checked", true);
    });

    storedFilters.selectedBrands.forEach((brand) => {
      $(`input[name="brand"][value="${brand}"]`).prop("checked", true);
    });

    if (storedFilters.selectedPrice) {
      $(`input[name="price"][value="${storedFilters.selectedPrice}"]`).prop("checked", true);
    }
  }

  // Call setCheckedValues on page load
  $(document).ready(setCheckedValues);


    function getCheckedValues(checkboxName) {
        const checkboxes = document.querySelectorAll(`input[name="${checkboxName}"]:checked`);
        const values = Array.from(checkboxes).map(checkbox => checkbox.value);
        return values;
    }

    function getSelectedValues(name) {
    const selectedRadio = document.querySelector(`input[name="${name}"]:checked`);
    return selectedRadio ? selectedRadio.value : null;
    }

  
</script>

<%- include('../layouts/footer') %>
