<%-include('../layouts/header')%>
<%- include('../partials/user-header')%>

<header>
    <h1 class="text-center tickerTimes">ORDER DETAILS</h1>
</header>



<!-- Two Cards in One Row -->
<div class="container">
<div class="row">
    <!-- Left Card: Items from Order -->
    <div class="col-md-8">
        <div class="card">
            <div class="card-header text-secondary"><strong>ITEMS FROM ORDER:  #<%=order._id%> </strong></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order.Items.forEach(function(item) { %>
                            <tr>
                                <td><%= item._id %></td>
                                <td><%= item.ProductId.ProductName%></td>
                                <td><%= item.Quantity %></td>
                                <td>₹<%= item.ProductId.DiscountAmount %>/-</td>
                            </tr>
                        <% }); %>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Right Card: Order Summary -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">ORDER SUMMARY</div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Grand Total:</td>
                            <td><strong>₹<%=order.TotalPrice%>/- </strong></td>
                        </tr>
                        <tr>
                            <td>Shipping Charge:</td>
                            <td><strong>--</strong></td>
                        </tr>
                        <tr>
                            <td>Total:</td>
                            <td><strong>₹<%=order.TotalPrice%>/-</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>



<!-- Shipping Address Card -->
<div class="card mt-4">
    <div class="card-header">SHIPPING INFORMATION</div>
    <div class="card-body">
        <h5><%=order.Address.Name%></h5>
    </div>
</div>
</div>
<%- include('../layouts/footer') %>