<%- include('../layouts/header') %>
<%- include('../partials/user-header') %>

<div class="container tickerTimes">
  <h6>Your Profile</h6>
  <div class="row mb-4 mt-3">
    <div class="col-lg-2">
      <div class="profile-picture d-flex flex-column">
        <div class="profile-image">
        </div>
        <input type="file" id="profile-picture" accept="image/*" style="display: none;">
        <div class="text-start">
          <label for="profile-picture" class="profile-upload-btn">
            <i class="fas fa-camera"></i> Upload Picture
          </label>
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" value="<%= user.Username %>" readonly>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" value="<%= user.Email %>" readonly>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-6 col-sm-6  col-12">
        <a class="text-decoration-none" href="/orderList">
            <div class="card text-center  mb-3" style=" background: linear-gradient(to right, rgba(255,0,0,0), rgb(196, 255, 245));; height: 30vh;">
                <div class="card-header">
                    <img src="/images/order-box-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body ">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                        Orders History
                       
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-6 col-12">
        <a class="text-decoration-none" href="/cart">
            <div class="card text-center mb-3" style=" background: linear-gradient(to right, rgba(255,0,0,0), rgb(196, 255, 245));; height: 30vh;">
                <div class="card-header">
                    <img src="/images/cart-card-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                        Cart
                        
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-6 col-12">
        <a class="text-decoration-none" href="/editAddress">
            <div class="card text-center  mb-3" style=" background: linear-gradient(to right, rgba(255,0,0,0), rgb(196, 255, 245));; height: 30vh;">
                <div class="card-header">
                    <img src="/images/address-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                        Address 
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-6  col-12">
        <a class="text-decoration-none" href="">
            <div class="card text-center mb-3" style=" background: linear-gradient(to right, rgba(255,0,0,0), rgb(196, 255, 245));; height: 30vh;">
                <div class="card-header">
                    <img src="/images/wishlist-card-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                        Wishlist
                       
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-6  col-12">
        <a class="text-decoration-none" href="">
            <div class="card text-center mb-3" style=" background: linear-gradient(to right, rgba(255,0,0,0), rgb(196, 255, 245));; height: 30vh;">
                <div class="card-header">
                    <img src="/images/review-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                      My ReviewS 
                        
                    </h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-12 col-md-6 col-sm-6  col-12">
        <a class="text-decoration-none" href="">
            <div class="card text-center mb-3" style=" background: linear-gradient(to right, rgba(255,0,0,0), rgb(196, 255, 245));; height: 30vh;">
                <div class="card-header">
                    <img src="/images/account-removebg-preview.png" class="img-fluid" style="width: 10vh;"
                        alt="">
                </div>
                <div class="card-body">
                    <h2 class="tickerTimes text-dark" style="font-family: 'Times New Roman', Times, serif;">
                       Account Settings
                    </h2>
                </div>
            </div>
        </a>
    </div>
</div>
</div>


<style>
  .card {
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
      0 2px 6px 0 rgb(206 206 238 / 54%);
  }
  .profile-picture {
    text-align: center;
  }
  .profile-image {
    width: 150px;
    height: 150px;
    background-color: #ccc; /* Default background color */
    border-radius: 50%; /* Creates a circle */
    display: inline-block;
  }
  .profile-upload-btn {
    margin-top: 8px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>

<%- include('../layouts/footer') %>
